html, body {
    display: flex;
    flex-direction: column;
    background-color: black;
    color: white;
    height: 100%;
}

header {
    display: block;
    justify-items: center;
}

main {
    flex: 1;
}

h1 {
    color: rgb(26, 183, 26);
}

#play-outer-container {
    margin: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
}